<ion-header>
  <ion-navbar>
    <ion-title>Lista de médicos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of lista">
    <ion-card-header>
      <h1>{{item.nome}}</h1>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{item.especialidade}}</strong><p>
      <p>{{item.logradouro}} / {{item.bairro}} - {{item.cidade}}, {{item.estado}}<p>
    </ion-card-content>
  </ion-card>
  <p *ngIf="lista.length === 0" text-center>Nenhum médico encontrado!</p>
</ion-content>
